.contact {

    .grid-col-2 {
        gap: 12rem;
    }

    nav {
        ul {
            li {
                padding-left: 0;
                padding-right: 1rem;
            }
        }
    }

    &__form {
        div {
            margin-top: 3rem;

            &:first-child {
                margin-top: 1rem;
            }
        }

        label {
            margin-bottom: .9rem;
            display: block;
        }

        .input,
        .input-message {
            background: white;
            width: 100%;
            padding: 1rem 1.5rem;
        }

        .input-message {
            margin-bottom: 3rem;
            word-wrap: break-word;
            min-height: 20rem;
            resize: vertical;
        }
    }

    @media only screen and (max-width: $bp-small) {
        .grid-col-2 {
            gap: 6rem;
        }

        &__form {
            margin-bottom: 3rem;
        }
    }
}