.labodega {
    .products {
        gap: 4rem;

        li {
            margin-bottom: 2.5rem;
        }

        &__item {
            img {
                margin-bottom: 3rem;

            }

            &__text {
                padding: 0 2.5rem;

                p {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}