@import "./reset.css";
@import "./variables.scss";
@import "./typography.scss";
@import "./swiper.css";

html {
  box-sizing: border-box;
  font-size: 62.5%;

  line-height: 1.1;
}

body {
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: $color-secondary;
  color: $color-primary;
  font-family: $font-copy;
  line-height: 1.4;
  letter-spacing: 0.03rem;
}

img {
  width: 100%;
  object-fit: contain;
  border-radius: 4rem;
}


// Wrapper

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;

}

// Container

.container {
  display: grid;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 12rem 8rem;


  @media only screen and (max-width: $bp-small) {
    padding: 5rem 2rem;
  }


}





// Grid

.grid-col-1 {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
    gap: 0;
  }

  &--bigger-gap {
    gap: 16rem;

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }
}

.grid-col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem;

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.grid-col-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
    gap: 0;
  }
}



.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


// Button and link


/* unvisited link */
a:link {
  font-family: $font-primary;
  color: $color-links;
  font-size: 1.3rem;
}

/* visited link */
a:visited {
  color: $color-links;
}

/* mouse over link */
a:hover {}


.btn {
  background-color: $color-links;
  border-radius: 3.3rem;
  padding: 1.5rem 3rem;
  color: $color-white;
  font-size: 1.4rem;
  display: block;
  line-height: 1.8rem;
  width: fit-content;
  cursor: pointer;

  &:hover {
    background-color: $color-primary;
  }

  &--smaller {
    padding: 1.2rem 2.2rem;
    font-size: 1.2rem;
    line-height: 1.3;
  }

  &--ghost {
    background-color: transparent;
    color: $color-links;

    &:hover {
      background-color: $color-links;
      color: $color-offwhite;
    }
  }

}

// Padding Hero

.pt-hero {
  padding-top: 20rem;
  padding-bottom: 5rem;

  @media only screen and (max-width: $bp-small) {
    padding-top: 10rem;
    padding-bottom: 2.5rem;
  }
}


// Padding 0

.p-lr-0 {
  padding-left: 0;
  padding-right: 0;
}

.p-tb-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

// Padding 2rem

.p-tb-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

// Padding top and bottom

.p-tb-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;

  @media only screen and (max-width: $bp-small) {
    padding-top: 2rem;
    padding-bottom: 2rem;

  }
}

.p-tb-10 {
  padding-top: 10rem;
  padding-bottom: 10rem;

  @media only screen and (max-width: $bp-small) {
    padding-top: 5rem;
    padding-bottom: 5rem;

  }
}

.p-tb-20 {
  padding-top: 20rem;
  padding-bottom: 20rem;

  @media only screen and (max-width: $bp-small) {
    padding-top: 10rem;
    padding-bottom: 10rem;

  }
}

// Padding top

.pt-5 {
  padding-top: 5rem;

  @media only screen and (max-width: $bp-small) {
    padding-top: 2rem;

  }
}

.pt-10 {
  padding-top: 10rem;

  @media only screen and (max-width: $bp-small) {
    padding-top: 5rem;

  }
}

.pt-20 {
  padding-top: 20rem;

  @media only screen and (max-width: $bp-small) {
    padding-top: 10rem;

  }
}


// Padding bottom

.pb-5 {
  padding-bottom: 5rem;

  @media only screen and (max-width: $bp-small) {
    padding-bottom: 2rem;

  }
}

.pb-10 {
  padding-bottom: 10rem;

  @media only screen and (max-width: $bp-small) {
    padding-bottom: 5rem;

  }
}

.pb-12 {
  padding-bottom: 12rem;

  @media only screen and (max-width: $bp-small) {
    padding-bottom: 5rem;

  }
}

.pb-20 {
  padding-bottom: 20rem;

  @media only screen and (max-width: $bp-small) {
    padding-bottom: 10rem;

  }
}


// Youtube Video

iframe {
  object-fit: contain;
  width: 100%;
  aspect-ratio: 16 / 9;
}

// Text alignment

.text-centred {
  text-align: center;
}

.align-left {
  text-align: left;
  display: inline-block;
}

.align-center {
  text-align: center;
  display: block;
}

.align-right {
  text-align: right;
  display: block;
}

// Bigger Text

.bigger-text {
  font-size: 140%;
}


.cards {
  padding: 0;
}


.homepage {
  .heighty-five-height div:first-child .wrapper:first-child {
    align-self: flex-end;

    img {}
  }
}

ol {
  list-style-type: decimal;
  list-style-position: inside;

  li {
    ol {
      list-style-position: inside;
      list-style-type: lower-roman;

      li {
        margin-top: 1rem;
        margin-left: 2rem;
        list-style-type: lower-latin;
        margin-bottom: 2rem;
      }
    }

    list-style-type: decimal;
    margin-bottom: 3rem;

    strong {
      font-weight: bold;
    }
  }
}

// remove CTA
.remove-cta {
  display: none
}



@import "./components/common/nav.scss";
@import "./components/common/header.scss";
@import "./components/common/footer.scss";


// Reuseable Components

@import "./components/common/section.scss";



// Pages 