.cta {
    padding-top: 4rem;
}

.contactCTA {
    position: relative;
    margin: 0 auto 10rem auto;
    max-width: 60%;

    h2 {
        font-size: 8rem;

    }

    &__btn {
        position: absolute;
        bottom: -7rem;
        right: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 14rem;
        height: 14rem;
        border-radius: 50%;
        border: 1px solid $color-primary;

        .icon {
            text-align: center;
            margin-bottom: .5rem;

            img {
                border-radius: 0;
            }
        }

        p {
            color: $color-primary;
            margin-bottom: 0;
        }
    }

    @media only screen and (max-width: $bp-small) {
        max-width: 95%;

        h2 {
            font-size: 5.5rem;
            line-height: 1.1;
        }

        &__btn {
            width: 12rem;
            height: 12rem;
            bottom: -8rem;
            right: 0rem;

        }

        p {
            font-size: 1.2rem;
        }

    }

    @media only screen and (max-width: $bp-smallest) {
        margin-bottom: 10rem;
        max-width: 98%;

        h2 {
            font-size: 5.2rem;
        }

        &__btn {
            bottom: -10rem;
            right: 0rem;

        }

    }



}