.header {
    nav {
        ul {
            li {
                padding-left: 2.5rem;

                a {
                    font-family: $font-secondary;
                    color: $color-primary;

                    &.active {
                        color: $color-links;
                        font-weight: bold;
                    }
                }

                &.contact-btn {
                    a {
                        display: block;
                        background: $color-links;
                        color: $color-secondary;
                        padding: .8rem 2.5rem;
                        border-radius: 4rem;

                        &.active {
                            font-weight: bold;
                        }
                    }
                }
            }

            @media only screen and (max-width: $bp-small) {
                li {
                    padding-left: 1rem;
                    padding-right: 1rem;

                    a {
                        font-size: 1.2rem;
                    }

                    &.contact-btn {
                        a {
                            padding: .6rem 1.7rem;

                        }
                    }
                }

            }
        }
    }
}

.footer {
    nav {

        text-align: center;

        ul {
            display: block;

            li {
                display: inline-block;
                padding-left: 2rem;
                padding-right: 2rem;

                a {
                    font-family: $font-secondary;
                    color: $color-secondary;
                }
            }

            li:has(> a.active) {



                display: none;


            }
        }
    }

    @media only screen and (max-width: $bp-small) {

        .container {
            padding-top: 4rem !important;
            padding-bottom: 3rem !important;
        }


        .footer__header {

            .logo {
                width: 6rem;
                margin-bottom: 2rem;
            }


            nav {
                margin-bottom: 2.5rem;

                ul {
                    li {
                        padding-left: 1.2rem;
                        padding-right: 1.2rem;

                        a {
                            font-size: 1.3rem;
                        }

                    }
                }
            }
        }

        .footer__bottom {
            padding-top: 2.5rem;
            flex-direction: column-reverse;

            .social {
                margin-bottom: 3rem;

                ul {
                    li {
                        padding-right: 1.5rem;
                    }
                }
            }

            p {
                font-size: .9rem;
            }
        }

    }
}